h2 {
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
}

body {
    background-color: lightseagreen;
    font-size: medium;
    font-weight: 500;
    font-style: serif;
}

li:hover {
    color: white;
}

ol > li {
    color: grey;
}

.frontcover {
    text-align: center;
}

.sublist {
    font-style: oblique;
}
